<li>
    <a asp-controller="ShoppingCart" asp-action="Index" title="@ViewBag.CartSummary" class="head-link" id="shopping-cart-link">
        <div>Cart</div>
        @if (ViewBag.CartCount != null && (int)ViewBag.CartCount > 0)
        {
            <span class="hidden-xs" id="cart-count">@ViewBag.CartCount</span>
        }
    </a>
</li>
